<!DOCTYPE html>
<html>
<body>
<title> 
Supervisor Request for Purchase department public key	
</title>
<form action = "/logout">
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<input type="submit" value= "Logout"> </input>
</form>

<font size=5 color='green'>  Order Status: {{ orderStatusmsg }}</font>
<br> <br>
<font size=4 color='blue'> SignatureVerfication : {{ signMsg }}</font>

<br> <br>

<form action = "/PurchaseDeptKey" method = "POST"> 
<input type="submit" value="Request For Purchase Dept Key">
</form> 

</body>
</html>
