<!DOCTYPE html>
<html>
<body>
	
	<form action = "/logout">
	<font face="verdana" color="green" size = 6> {{ msg}} </font>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<input type="submit" value= "Logout"> </input>
	</form>

	<p><font face="verdana" color="blue" size = 4> Please select any one of the below options: </font> </p>

	<form action = "/orderCreate">
		<input type="submit" value= "Create Order"> </input>
	</form>
	<form action = "/viewOrderStatus">
		<input type="submit" value= "View Order Status"> </input>
	</form>
</body>
</html>
