<!DOCTYPE html>
<html>
<head>
	<title>Purchase Department Page</title>
</head>
<body>
<form action = "/logout">
	  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	  <input type="submit" value= "Logout"> </input>
</form>
	<h1><font face="verdana" color="green" size = 5>Purchase Order APPROVAL</font></h1>
	<br> <br>
	<font face="verdana" color="blue" size = 4>{{msg}}</font>
	<br> <br><font face="verdana" color="blue" size = 4>ORDER STATUS: {{ approved}} </font><br> <br>
</body>
</html>
