<!DOCTYPE html>
<html>
<head>
	<title>Purchase Department Page</title>
</head>
<body>

	<form action = "/logout">
	  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	  <input type="submit" value= "Logout"> </input>
	</form>
<p><font face="verdana" color="green" size = 5> Welcome to Purchase Department</p>

	<form action="/purchaseVerify" method="POST">
		<label for="order"> Order </label>
		<select name="order">
		<option order="order"> Select order </option>
		{% for row in rows %}
			<option order="order"> {{ row[0] }} </option>
		{% endfor %}
		</select>
		
		<br></br>
		<input type="submit" value="Verify the order">	
	</form>
</body>
</html>
