<!DOCTYPE html>
<html>
<body>

<form action = "/logout">
<font face="verdana" color="green" size = 5> {{ msg}} </font>
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<input type="submit" value= "Logout"> </input>
</form>

<form action = "/requestKeys" method = "POST"> 
<br>
<br>
<font size=4 color='blue'Request> Request Supervisor and Purchase Department public keys from the Centratlized Authority ? </font>
<br>
<br>
<input type="submit" value="Submit Request">
</form>
</body>
</html>
